allow audioserver debugfs_tracing:file { open write };
allow audioserver sysfs:dir { open read };
allow audioserver sysfs:file { getattr open read };
