#============= cameraserver ==============
allow cameraserver debugfs_tracing:file { open write };
allow cameraserver socket_device:sock_file { rw_file_perms };
