#============= fingerprintd ==============
type fpc_socket, file_type;

allow fingerprintd fpc_sysfs:dir { open read search};
allow fingerprintd fpc_sysfs:file { read open write };
allow fingerprintd gx_fpd_service:service_manager { find };
allow fingerprintd fingerprint_service:service_manager { find };
allow fingerprintd tee_device:chr_file { ioctl read write open };
allow fingerprintd firmware_file:dir search;
allow fingerprintd firmware_file:file { read open getattr };
allow fingerprintd uhid_device:chr_file rw_file_perms;
allow fingerprintd storage_file:dir search;
allow fingerprintd storage_file:lnk_file read;


allow fingerprintd sysfs:file write;
set_prop(fingerprintd, system_prop)
