allow hal_camera_default camera_data_file:dir create_dir_perms;
allow hal_camera_default camera_data_file:file create_file_perms;
allow hal_camera_default camera_data_file:sock_file write;

# For interfacing with PowerHAL
hal_client_domain(hal_camera_default, hal_power)
