allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init hwservicemanager:binder call;
allow init mm-qcamerad:binder transfer;
allow init platform_app:binder transfer;
allow init servicemanager:binder { call transfer };
allow init system_server:binder call;
allow init cameraserver:fd use;
allow init hal_graphics_allocator_default:fd { use };
allow init graphics_device:chr_file write;
allow init hal_camera_default:fd use;
allow init ion_device:chr_file { ioctl write };
allow init init:udp_socket ioctl;
allow init logd:dir getattr;
allow init misc_partition:blk_file relabelfrom;
allow init modem_efs_partition_device:blk_file write;
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init property_socket:sock_file write;
allow init self:capability { net_bind_service sys_module };
allow init self:capability2 block_suspend;
allow init self:netlink_generic_socket { read write };
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_kobject_uevent_socket { bind create setopt };
allow init self:netlink_route_socket { read bind create getattr nlmsg_read nlmsg_write setopt write };
allow init self:netlink_socket { bind create read write };
allow init self:rawip_socket { create getopt setopt };
allow init self:socket create_socket_perms_no_ioctl;
allow init self:tcp_socket { create ioctl };
allow init self:udp_socket ioctl;
allow init socket_device:sock_file { create setattr };
allow init system_data_file:sock_file write;
allow init system_server:fd use;
allow init system_server:unix_stream_socket { read write };
allow init tee_device:chr_file { write };
allow init uio_device:chr_file write;
allow init vfat:file { getattr open read };
allow init video_device:chr_file { ioctl write };
allow init debugfs_tracing:file { open read write };
allow init sensors_device:chr_file { ioctl write };
allow init vndbinder_device:chr_file { open read write ioctl };
allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
allow init mm-qcamerad:unix_dgram_socket rw_socket_perms;
