allow init { domain -llkd -lmkd -crash_dump }:process noatsecure;
allow init system_data_file:sock_file write;
allow init system_server:fd use;
allow init system_server:unix_stream_socket { read write };
allow init adsprpcd_file:filesystem { mount relabelfrom relabelto };
