#============= mediacodec ==============
allow mediacodec sysfs:file { getattr open read };

# /system/vendor/lib/libOmxSwVdec.so
allow mediacodec unlabeled:file { read open getattr };
