allow priv_app device:dir { read open };
allow priv_app storage_stub_file:dir { getattr search open read };
allow priv_app proc_interrupts:file { read open };
allow priv_app adsprpcd_file:filesystem getattr;
allow priv_app proc_stat:file read;

get_prop(priv_app, camera_prop)
