allow servicemanager init:dir search;
allow servicemanager init:file { open read };
allow servicemanager init:process getattr;
allow servicemanager hal_fingerprint_default:dir search;
allow servicemanager hal_fingerprint_default:file { read open };
allow servicemanager hal_fingerprint_default:process getattr;
allow servicemanager qseeproxy:file { read open };
allow servicemanager qseeproxy:dir search;
allow servicemanager qseeproxy:process getattr;
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-qcamerad:file { read open };
allow servicemanager mm-qcamerad:process getattr;
