allow shell dalvikcache_data_file:dir { write remove_name add_name };
allow shell dalvikcache_data_file:file { write create unlink };
allow shell self:capability sys_nice;
