allow toolbox bluetooth_prop:file { getattr open read};
allow toolbox bluetooth_prop:property_service set;
allow toolbox init:fifo_file { read write getattr };
allow toolbox init:netlink_route_socket { read write };
allow toolbox init:netlink_socket { read write };
allow toolbox init:netlink_xfrm_socket { read write };
allow toolbox init:unix_stream_socket connectto;
allow toolbox netmgrd_data_file:file { read write };
allow toolbox property_socket:sock_file write;
allow toolbox self:capability net_admin;
allow toolbox self:udp_socket { create ioctl };
allow toolbox wifi_prop:file { getattr open read };

